<mat-card>
  <mat-card-content>
    <mat-toolbar color='primary'>
      <span>Produtos</span>
    </mat-toolbar>
<form>
  <input matInput>
  <select matNativeControl required>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)=onAdd()>
    <mat-icon>add</mat-icon>
  </button>
</form>
</mat-card-content>
</mat-card>
